{% extends 'dashboard.html' %}
{% load static %}
{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet">  <!-- Button FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet"> <!-- placeholder IN THIS AS INPUT font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading  IN THIS AS LABEL Font -->
    <style>
        .form-danger{
            border:1px solid red !important;
            background:rgba(230, 0, 0, 0.1) !important;
        }
        input{
            font-family: 'Ubuntu', sans-serif;
        }
        label{
            font-family: 'Source Serif Pro', serif;
        }
        .lifetago_mini_content{
            font-family: 'Source Serif Pro', serif;
        }
    </style>
{% endblock %}
{% block dashboard %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row bg-white shadow-sm rounded">
        <div class="col-md-12 p-3">
            <div class="row">
                <div class="col-md-5 mx-auto shadow-sm bg-light rounded py-3">
                    {% if msg %}
                        <div class="alert {{alert}} text-center">{{msg}}</div>
                    {% endif %}
                    <h3 class="text-center lifetago_mini_content" style="font-size: 25px; color: #00bb6d;">Change Your Password</h3>
                    <hr>
                    <div class="form-group">
                        <label for="">Current Password</label>
                        <input type="password" name="cpwd" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" name="npwd" class="form-control" required id=pas onkeyup="check_pass();"> 
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" class="form-control" id="cpas" onkeyup="check_pass();">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" style="font-family: 'Crete Round', serif;" required value="Save Changes" id="sbtn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        if(p==cp){
            $("#pas").removeClass("form-danger");
            $("#cpas").removeClass("form-danger");
            $("#sbtn").removeAttr("disabled");
        }
        else{
            $("#pas").addClass("form-danger");
            $("#cpas").addClass("form-danger");
            $("#sbtn").attr("disabled","disabled");
        }
    }
</script>
{% endblock %}