{% extends 'base.html' %}

{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet"> <!-- Button Font -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet"> <!-- placeholder font -->
    <style>
    .lifetago_button{
        font-family: 'Crete Round', serif;
    }
    .lifetago_placeholder::placeholder {
        font-family: 'Ubuntu', sans-serif;
    }
    </style>
{% endblock %}

{% block body %}
<div class="">
    <div class="container-fluid element-animate">
        <div class="">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="card-body">
                        <h4 class="mb-3 ">Reset your password</h4>
                        <div id="result"></div>
                        <form action="" method="POST">
                            {% csrf_token %}
                        <div class="input-group mb-4" id="user-input">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" style="color: #00bb6d;"></i></span>
                            </div>
                            <input type="text" class="form-control lifetago_placeholder" placeholder="Username.." name="username" id="username">
                        </div>
                        <div><button type="button" class="btn btn-success shadow-2 mb-4 lifetago_button" onclick="getPassword();" id="reset-btn">Reset password</button></div>
                        <div class="spinner-border text-success" style="display: none;" id="spin" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p class="mb-0 text-muted" id="sign-up">Don’t have an account? <a href="{% url 'sign_up' %}" class="f-w-400" >Sign up</a></p>
                        <div class="form-group" style="display: none;" id="Aotp">
                            <div class="input-group mb-4" id="user-input">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-check" style="color: #00bb6d;"></i></span>
                                </div> 
                                <input type="text" class="form-control lifetago_placeholder" name="otp" id="otp" placeholder="Enter OTP here...">
                            </div>
                            <button type="button" onclick="matchOTP();" class="btn btn-outline-success mt-3">Verify OTP</button>
                        </div>
                        <div style="display: none;" id="C-password">
                            <div class="form-group">
                                <input type="password" name="npass" class="form-control lifetago_placeholder" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="CHANGE PASSWORD" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <input type="hidden" id="rotp">
                <div class="col-md-7 d-none d-md-block">
                    <img src="/static/images/about/about.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getPassword(){
        $("#spin").show();
        let username = $("#username").val()
        $.ajax({
            url:"{% url 'password_reset' %}",
            type:"get",
            data:{username:username},
            success:function(data){
                $("#spin").hide();
                if(data.status=="failed"){
                    $("#result").html("<p class='alert alert-danger'>No user register with this username</p>")
                }
                else if(data.status=="error"){
                    $("#result").html("<p class='alert alert-warning'>Could not send email to "+data.email+". Somthing went wrong!!</p>")
                }
                else if(data.status=="sent"){
                    $("#result").html("<p class='alert alert-success'>An OTP is sent to your register Email ID: "+data.email+"</p>")
                    $("#reset-btn").hide();
                    $("#sign-up").hide();
                    $("#Aotp").fadeIn(1000);
                    $("#rotp").val(data.otp);
                }
            }
        })
    }

    function matchOTP(){
        uotp = $("#otp").val();
        rotp = $("#rotp").val();
        if(uotp == rotp){
            $("#Aotp").hide();
            $("#user-input").hide();
            $("#C-password").fadeIn("1000");
            $("#result").html("<p class='alert alert-success'>Validation Success!!</p>")
            
        }
        else{
            $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>")
        }
    }
</script>

{% if status %}
    <script>
        alert("{{status}}")
        window.location = "/sign-in/"
    </script>
{% endif %}
{% endblock %}
