{% extends 'base.html' %}
{% load static %}

{% block title %}
  LIFETAGO | Sign-in
{% endblock %}

{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet"> <!-- Button Font -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet"> <!-- placeholder font -->
    <style>
        .form-control:focus {
      border: 1px solid rgba(0, 187, 109, 1); 
      box-shadow: 0px 0px 3px rgba(0, 187, 109, 0.5);   
        }

        .form-danger{
            border:1px solid red !important;
            background:rgba(230, 0, 0, 0.1) !important;
        }
        .lifetago_button{
        font-family: 'Crete Round', serif;
        }
        .lifetago_placeholder::placeholder {
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
{% endblock %}
{% block body %}
<div class="">
    <div class="auth-content container-fluid">
        <div class="">
            <div class="row align-items-center">
                <div class="col-md-5 element-animate">
                    <div class="card-body">
                        <img src="" alt="" class="img-fluid">
                        <h4 class="mb-3 mt-4 f-w-400">Login into your account</h4>
                        {% if status %}
                            <p id="login_error" class="alert alert-danger">{{status}}</p>
                        {% endif %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user" style="color: #00bb6d;"></i></span>
                                </div>
                                <input type="text" class="form-control lifetago_placeholder" placeholder="Username" name="username">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock" style="color: #00bb6d;"></i></span>
                                </div>
                                <input type="password" class="form-control lifetago_placeholder" placeholder="Password" name="password">
                            </div>
                            <button class="btn btn-success shadow-2 mb-4 lifetago_button">Sign in</button>
                            <!-- <div class="saprator"><span>OR <small>(For Patient Only)</small></span></div> -->
                            <!-- <a href="{# provider_login_url 'facebook' method='oauth2' #}" class="btn text-white btn-primary mb-2 mr-2"><i class="fab fa-facebook-f"></i>  Facebook</a> -->
                            <!-- <a href="{# provider_login_url 'google' #}" class="btn btn-danger mb-2 mr-2 text-white"><i class="fab fa-google"></i> Google</a> -->
                            <!-- <div class="form-group text-left mt-2">
                                <div class="d-inline">
                                    <input type="checkbox" name="" id="" checked="">
                                    <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                                </div>
                            </div>  -->
                            <!-- <div class="form-group">
                                <input type="checkbox" name="remember"><label for="">Remember Me</label>
                            </div> -->
                            <p class="mb-2 text-muted">Forgot password? <a href="{% url 'password_forget' %}" class="f-w-400 lifetago_button">Reset</a></p>
                            <p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'sign_up' %}" class="f-w-400 lifetago_button">Sign-up</a></p>
                        </form>
                    </div>
                </div>
                <div class="col-md-7 d-none d-md-block">
                    <img src="{% static 'images/about/about.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

