{% extends 'base.html' %}
{% load static %}

{% block title %}
  LIFETAGO | Sign-up
{% endblock %}


{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet"> <!-- Button Font -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet"> <!-- placeholder font -->
    <link href="https://fonts.googleapis.com/css2?family=Laila&display=swap" rel="stylesheet"> <!-- Patien/Doctor Login -->
    <style>
        .form-control:focus {
            border: 1px solid rgba(0, 187, 109, 1); 
            box-shadow: 0px 0px 3px rgba(0, 187, 109, 0.5);   
        }
        .form-danger{
            border:1px solid red !important;
            background:rgba(230, 0, 0, 0.1) !important;
        }
        .lifetago_button{
            font-family: 'Crete Round', serif;
        }
        .lifetago_placeholder::placeholder {
            font-family: 'Ubuntu', sans-serif;
        }
        .lifetago_patient_doctor{
            font-family: 'Laila', serif;
        }
        #lifetago_patient_doctor_id{
            font-family: 'Crete Round', serif;
        }
    </style>
{% endblock %}
{% block body %}
<div class="auth-wrapper container-fluid">
    <div class="">
        <div class="row align-items-center">
            <div class="col-md-5 element-animate">
                <div class="card-body">
                    <h4 class="mb-3 f-w-400">Sign up into your account</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-md-6 mb-3 ">
                                <input type="text" required class="form-control lifetago_placeholder" placeholder="First Name" name="first_name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" required class="form-control lifetago_placeholder " placeholder="Last Name" name="last_name">
                            </div>
                        </div>
                        <small id="user_result"></small>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" style="color: #00bb6d;"></i></span>
                            </div>
                            <input type="text" required class="form-control lifetago_placeholder" minlength="4" title="Username should contain at least 4 character" placeholder="Username" value="" name="username" id="username" onkeyup="checkuser();">
                        </div>
                        <small id="email_result"></small>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope" style="color: #00bb6d;"></i></span>
                            </div>
                            <input type="email" required class="form-control lifetago_placeholder" placeholder="Email Address" value="" name="email" id="email" onkeyup="checkemail();">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock" style="color: #00bb6d;"></i></span>
                            </div>
                            <input type="password" class="form-control lifetago_placeholder" placeholder="Password" name="password" onkeyup="confirmPas();" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user-lock" style="color: #00bb6d;"></i></span>
                            </div>
                            <input type="password" class="form-control lifetago_placeholder" placeholder="Confirm Password" id="confirm_password" required onkeyup="confirmPas();">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-phone" style="color: #00bb6d;"></i></span>
                            </div>
                            <input type="text" required  pattern="[4-9]{1}[0-9]{9}" title="Phone number with 4-9 and remaing 9 digit with 0-9" class="form-control lifetago_placeholder" placeholder="Contact Number" name="contact_number">
                        </div>
                        <div class="form-group">
                            <span class="lifetago_patient_doctor" style="font-weight: bold;" >Who are you?</span>
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input type="radio" class="custom-control-input" id="patient" name="user_type" checked="checked" value="patient">
                                <label class="custom-control-label lifetago_patient_doctor" for="patient">I am Patient</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="doctor" name="user_type" value="doctor">
                                <label class="custom-control-label lifetago_patient_doctor" for="doctor">I am Doctor</label>
                            </div>
                        </div>
                        
                        <!-- <div class="saprator"><span>OR</span></div>
                        <button class="btn btn-facebook mb-2 mr-2"><i class="fab fa-facebook-f"></i>facebook</button>
                        <button class="btn btn-twitter mb-2 mr-2"><i class="fab fa-twitter"></i>Twitter</button> -->
                        <!-- <div class="form-group text-left mt-2">
                            <div class="d-inline">
                                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                                <label for="checkbox-fill-2" class="cr">Send me the <a href="#!"> Newsletter</a> weekly.</label>
                            </div>
                        </div> -->
                        <button type="submit" id="signup" class="btn btn-success shadow-2 mb-2 lifetago_button">Sign up</button>
                        <p class="mb-2 lifetago_patien_doctor">Already have an account? <a href="{% url 'sign_in' %}" class="f-w-400" id="lifetago_patien_doctor_id">Sign-in</a></p>
                    </form>
                </div>
            </div>
            <div class="col-md-7 d-none d-md-block">
                <img src="../static/images/about/about.jpg" width="100%" height="100%" alt="" class="" style="">
            </div>
        </div>
    </div>
</div>
<script>
    function checkuser(){
        let uname = $("#username").val();
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{uname:uname},
            success:function(data){
                if(data=="Exists"){
                    $("#user_result").html("This user name already Exist").addClass("text-danger");
                    $("#username").addClass("form-danger");    
                    $("#signup").attr("disabled","disabled"); 
                }
                else{
                    $("#user_result").html("");
                    $("#username").removeClass("form-danger"); 
                    $("#signup").removeAttr("disabled"); 

                }
            }
        })
    }

    function checkemail(){
        let email = $("#email").val();
        $.ajax({
            url:"{% url 'check_email' %}",
            type:"get",
            data:{email:email},
            success:function(data){
                if(data=="Exists"){
                    $("#email_result").html("This email name already Exist").addClass("text-danger");
                    $("#email").addClass("form-danger");    
                    $("#signup").attr("disabled","disabled"); 
                }
                else{
                    $("#email_result").html("");
                    $("#email").removeClass("form-danger"); 
                    $("#signup").removeAttr("disabled"); 

                }
            }
        })
    }
</script>

<script>
    function confirmPas(){
        if ($('#password').val() == $('#confirm_password').val()) {
        $("#password, #confirm_password, #signup").removeClass("form-danger");
        $("#signup").removeAttr("disabled");
    } else {
        $("#password, #confirm_password").addClass("form-danger");
        $("#signup").attr("disabled","disabled");
    }
    }
    
</script>

{% endblock %}
