
.trans{
    background:rgba(32, 39, 33, 0.253);
}
.logo-size{
    font-size: 50px;
}
.hr{
    width: 40px;
    height: 4px;
}

.link{
    position: relative;
    left: 5px;
    color: black;
    font-weight: normal;
}


.link-line{
    width: 30px;
    height: 3px;
    background: #00bb6d;
    float: left;
    position: relative;
    top:12px
}

.right-link{
    color:whitesmoke;
    position: relative;
    left: 0px;
}

.nav-text-dropdown{
    color: grey;
    position: relative;
    left: 0px;
}