.dash-link{
    color: rgb(70, 66, 66);
    
}

.dash-link:hover{
    color: #00bb6d;
    text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.form-control:focus {
    border: 1px solid rgba(0, 187, 109, 0.5); 
    box-shadow: 0px 0px 3px rgba(0, 187, 109, 0.5);
    
}