{% extends 'base.html' %}

{% block title %}
  LIFETAGO | About Us
{% endblock %}

{% block style %} 

  <link href="https://fonts.googleapis.com/css2?family=Laila&display=swap" rel="stylesheet"> <!-- CONTENT FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading Font -->
  <style>
    .lifetago_mini_content{
      font-family: 'Source Serif Pro', serif;
      }
      p{
        font-family: 'Laila', serif;
      }
  </style>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row element-animate" style="background:url(/static/images/about/bg.jpg); background-size:100% 100%; background-attachment: fixed;">
    <div class="col-md-12 text-white text-center py-5 trans">
        <div class="py-5">
            <h1 class="text-white element-animate lifetago_mini_content">About Us</h1>
            <div class="hr m-auto bg-white element-animate"></div>
        </div>
    </div>
</div>
    <!-- TRANSPARENT BANNER END -->
    <div class="row p-2 py-3 element-animate">
      <div class="col-md-12 lifetago_mini_content"  style="font-size: 15px;">
        <span>Home &gt; About Us</span>
      </div>
  </div>
    <section class="">
    
                  <div class="row element-animate">
                      <div class="col-md-6 ">
                          <img src="/static/images/about/about.jpg"width="100%" height="450">
                      </div>
                      <div class="col-md-6 p-4">
                          <h2 class="heading-with-aside-divider lifetago_mini_content">About LIFETAGO </h2>
                    <p>The Medical private medical clinic specializes in a wide variety of health issues, related to absolutely any age or severity level. Our seasoned team of highly trained physicians and practical nurses will be glad to help you 24/7!</p>
                    
                        <div class="card-deck">
                          <div class="col-md-6">
                            <img src="/static/images/about/qa.png">
                            <h5 class="lifetago_mini_content">Qualified Doctors</h5>
                            <p>25 years of experience</p>
                          </div>
                      
                          <div class="col-md-6">
                            <img src="/static/images/about/mo.png">
                            <h5 class="lifetago_mini_content">Modern Equipment</h5>
                            <p>Branded and time tested</p>
                          </div>
                      
                    
                          <div class="col-md-6">
                            <img src="/static/images/about/em.png">
                                  <h5 class="lifetago_mini_content">Emergency Help</h5>
                                  <p>Get help any time of the day</p>
                          </div>
                      
                      <div class="col-md-6">
                        <img src="/static/images/about/in.png">
                            <h5 class="lifetago_mini_content">Individual Approach</h5>
                            <p>Each case is always special</p>
                      </div>
                    </div>
              </div>
              </div>
          </section>

          <section class="mt-4">
                  <div class="row text-center text-light element-animate">
                   
                          <div class="col bg-dark">
                            <div class="counter bg-dark">
                            <h2 class="timer count-title count-number text-white pt-3" data-to="{{total_doctors}}" data-speed="3000"></h2>
                            <p class="count-text lifetago_mini_content ">DOCTORS</p>
                          </div>
                                    </div>
                                    <div class="col bg-dark">
                                        <div class="counter bg-dark">
                            <h2 class="timer count-title count-number text-white pt-3" data-to="{{total_departments}}" data-speed="3000"></h2>
                            <p class="count-text  lifetago_mini_content">DEPARTMENTS</p>
                          </div></div>
                                    <div class="col bg-dark">
                                    <div class="counter bg-dark">
                            <h2 class="timer count-title count-number text-white pt-3" data-to="{{total_patients}}" data-speed="3000"></h2>
                            <p class="count-text lifetago_mini_content  ">PATIENTS</p>
                          </div>
                        </div>
                   </div>
  </section>

   <!-- Our Doctors-->
   <section class="mt-5">
    <div class="container">
      <div class="row justify-content-center element-animate">
        <div class="col-md-8 text-center ">
          <h2 class="text-uppercase heading border-bottom  lifetago_mini_content">Doctors</h2>
        </div>
      </div>
      <div class="row element-animate">
        <div class="major-caousel js-carousel-1 owl-carousel">
          {% for doctor in doctors %}
            {% if doctor.specialization %}
              <a href="{% url 'doctor_profile' %}?id={{doctor.user.id}}">
                <div>
                  <div class="media d-block media-custom text-center">
                    {% if doctor.profile_pic %}
                      <img src="/media/{{doctor.profile_pic}}" height="220">
                    {% else %}
                      <img src="/static/images/profile_pic.png" height="220">
                    {% endif %}
                    <div class="media-body">
                      <h3 class="mt-0 text-black lifetago_mini_content">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</h3>
                      <p>{{doctor.specialization}}</p>
                    </div>
                  </div>
                </div>
              </a>
            {% endif %}
        {% endfor %}
        </div>
        <!-- END slider -->
      </div>
    </div>
  </section>
  <!-- END section -->
   
    </div>
{% endblock %}
