{% extends 'depart.html' %}
{% load static %}

{% block title %}
  LIFETAGO | Doctors
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/doctors.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet">  <!-- Button FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading Font -->
    <link href="https://fonts.googleapis.com/css2?family=Laila&display=swap" rel="stylesheet"> <!-- CONTENT FONT -->
    <style>
        .lifetago_mini_content{
            font-family: 'Source Serif Pro', serif;
        }
        .lifetago_dept_data{
            font-family: 'Laila', serif;
        }
    </style>

{% endblock %}

{% block department_banner %}
<div class="row element-animate" style="background:url(/static/images/doct.webp); background-size:100% 100%; background-attachment: fixed;">
    <div class="col-md-12 text-white text-center py-5 trans">
        <div class="py-5">
            <h1 class="text-light element-animate ">{{department_name}}</h1>
            <div class="hr m-auto bg-white element-animate"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block link %}
<div class="row p-2 py-3 element-animate">
    <div class="col-md-6">
        <span>Home > Doctors</span>
    </div>
    <div class="col-md-6">
        <span>Total {{len}} Doctors Found</span>
    </div>
</div>
{% endblock %}

{% block department %}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <div class="row element-animate">
                {% if len > 0 %}
                    {% for doctor in doctors %}
                        <div class="col-md-3 py-1 px-2">
                            <div class="cards border-0 doc-link">
                                <div class="doc-img-box" style="height: 200px; overflow: hidden;">
                                    {% if doctor.profile_pic %}
                                        <img class="card-img-top doc-img" src="/media/{{doctor.profile_pic}}" alt="" height="200" width="">
                                    {% else %}
                                        <img class="card-img-top doc-img" src="/static/images/profile_pic.png" alt="" height="200" width="">
                                    {% endif %}
                                </div>
                                <div class="py-2 text-center doc-bg">
                                    <h5><a href="{% url 'doctor_profile' %}?id={{doctor.user.id}}" class="text-decoration-none doc-link-inner lifetago_mini_content">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</a></h5>
                                    <p class="doc-text lifetago_dept_data bolder">{{doctor.specialization}}</p>
                                    <div class="line"></div><div class="py-2"><i class="fa fa-rupee-sign doc-text"></i><a href="" class="text-decoration-none doc-link-inner"> {{doctor.fee}}</a></div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <h1 class="text-warning py-5 my-5">Sorry matching result is not found... </h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
