{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        LIFETAGO | Home
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'images/doctor-icon.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/jquery.timepicker.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}"> -->

    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/lifetago.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    
    <!-- <link rel="stylesheet" href="{% static 'css/registration/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/profilesettings.css' %}">
    
    {% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet"> <!-- placeholder font -->
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet"> <!-- Button Font -->
        <style>
        
            .lifetago_button{
            font-family: 'Crete Round', serif;
            }
        </style>
    {% endblock %}
    <script src="{% static 'js/home/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/home/popper.min.js' %}"></script>
    <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
</head>
<body style="font-family:Verdana, Geneva, Tahoma, sans-serif;">

    {% include 'header.html' %}
    
    
    <div style="margin-top: 90px;">
        {% block body %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}

    <!-- Search Modal -->
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade " id="search" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="container mt-3">
                                <form action="{% url 'all_doctors' %}">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group  lifetago_placeholder1">
                                                        <input type="text"  name="q_name" class="form-control  lifetago_placeholder1"  style="color: #00bb6d;font-family: 'Ubuntu', sans-serif;" placeholder="Search Doctors..."  >
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group lifetago_placeholder1 ">
                                                        <input type="text" placeholder="Search by city..." name="q_city" class="form-control  "  style="color: #00bb6d;font-family: 'Ubuntu', sans-serif;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group placehold">
                                                <button type="submit" class="btn text-light  btn-block lifetago_button" style="background-color:  #00bb6d;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        
    </div>
    

    <!-- Home -->
    <script src="{% static 'js/home/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/home/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/home/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/home/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/home/main.js' %}"></script>
    
    <!-- Departments -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/lifetago.js' %}"></script>

    <!-- About -->
    <script src="{% static 'js/about.js' %}"></script>
    <script src="{% static 'js/doctors.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
</body>
</html>