{% extends 'base.html' %}

{% block title %}
  LIFETAGO | Contact Us
{% endblock %}

{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet"> <!-- Button Font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading Font -->
    <link href="https://fonts.googleapis.com/css2?family=Laila&display=swap" rel="stylesheet"> <!-- CONTENT FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet"> <!-- placeholder font -->
    <style>
        .lifetago_button{
            font-family: 'Crete Round', serif;
        }
        .lifetago_mini_content{
            font-family: 'Source Serif Pro', serif;
        }
        .lifetago_address{
            font-family: 'Laila', serif;
        }
        ::placeholder{
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
{% endblock %}

{% block body %}

<body>
    <section>
        <!-- BANNER START -->
        <div class="container-fluid">
            <div class="row element-animate" style="background:url(/static/images/pills-banner.jpg); background-size:100% 100%; background-attachment: fixed;">
                <div class="col-md-12  text-white text-center py-5 trans">
                    <div class="py-5">
                        <h1 class="text-light element-animate lifetago_mini_content">Contact Us</h1>
                        <div class="hr m-auto bg-white"></div>
                    </div>
                </div>
            </div>
            <!-- BANNER END -->
            <div class="row p-2 py-3 element-animate">
                <div class="col-md-12 lifetago_mini_content"  style="font-size: 15px;">
                    <span>Home &gt; Contact</span>
                </div>
            </div>
            {% if status %}
                <div class="alert alert-success element-animate text-center">{{status}}</div>
            {% endif %}
            <div class="row element-animate">
                <div class="col-md-4">
                    <div class="text-center p-5">
                        <i class="fa fa-map-marked-alt logo-size text-green py-3"></i>
                        <h4 class="text-uppercase lifetago_mini_content">Location</h4>
                        <div class="hr m-auto bg-green"></div>
                        <br>
                        <p class="lifetago_address">SachTech Solution Pvt. Ltd.
                            C-86, Phase 7, Industrial Area, Sector 74, Sahibzada Ajit Singh Nagar, Punjab 160055</p>
                    </div>
                </div>
                <div class="col-md-4 bg-green text-white">
                    <div class="text-center p-5">
                        <i class="fa fa-phone logo-size py-3"></i>
                        <h4 class="text-uppercase lifetago_mini_content">PHONE</h4>
                        <div class="hr m-auto bg-white"></div>
                        <br>
                        <h4 class="text-light lifetago_address">+918054254223</h4>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="text-center p-5">
                        <i class="fa fa-envelope logo-size text-green py-3"></i>
                        <h4 class="text-uppercase lifetago_mini_content">EMAIL</h4>
                        <div class="hr m-auto bg-green"></div>
                        <br>
                        <p class="lifetago_address">lifetago.meetdoctor@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="row element-animate">
                <div class="col-md-12 bg-light p-5">
                    <div class="text-center p-5">
                        <h2 class="lifetago_mini_content">Get In Touch With Us</h2>
                        <div class="hr bg-green m-auto"></div>
                        <br>
                    </div>
                    <div class="container">
                        <div class="row element-animate">
                            <div class="col-md-6 ">
                                <iframe class="shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119526878!2d76.69247175092309!3d30.716822693359777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1580963115905!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                            <div class="col-md-6 p-4">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" required placeholder="Your Name..." class="form-control" name="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                            </div>
                                            <input type="email" required placeholder="Your Email..." class="form-control" name="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" required placeholder="Subject" class="form-control" name="subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" required class="form-control" placeholder="Message" cols="" rows="8"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <input type="submit" value="Send Message" class="btn btn-outline-success"> -->
                                        <button type="submit"  class="btn btn-outline-success lifetago_button">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Contact form & map end -->
                </div>
            </div>

            
        </div>
    </section>
{% endblock %}
