{% extends 'base.html' %}
{% load static %}

{% block title %}
  LIFETAGO | Dashboard
{% endblock %}

{% block style %}
<script src="{% static 'js/home/jquery-3.2.1.min.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">


    <style>
                * {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        }


        #notfound {
        position: relative;
        height: 100vh;
        }

        #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        }

        .notfound {
        max-width: 520px;
        width: 100%;
        line-height: 1.4;
        text-align: center;
        }

        .notfound .notfound-404 {
        position: relative;
        height: 240px;
        }

        .notfound .notfound-404 h1 {
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-size: 252px;
        font-weight: 900;
        margin: 0px;
        color: #262626;
        text-transform: uppercase;
        letter-spacing: -40px;
        margin-left: -20px;
        }

        .notfound .notfound-404 h1>span {
        text-shadow: -8px 0px 0px #fff;
        }

        .notfound .notfound-404 h3 {
        font-family: 'Cabin', sans-serif;
        position: relative;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #262626;
        margin: 0px;
        letter-spacing: 3px;
        padding-left: 6px;
        }

        .notfound h2 {
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #000;
        margin-top: 0px;
        margin-bottom: 25px;
        }

        @media only screen and (max-width: 767px) {
        .notfound .notfound-404 {
            height: 200px;
        }
        .notfound .notfound-404 h1 {
            font-size: 200px;
        }
        }

        @media only screen and (max-width: 480px) {
        .notfound .notfound-404 {
            height: 162px;
        }
        .notfound .notfound-404 h1 {
            font-size: 162px;
            height: 150px;
            line-height: 162px;
        }
        .notfound h2 {
            font-size: 16px;
        }
        }

        .active{
            color: #00bb6d !important;
        }
        .lifetago_mini_content{
            font-family: 'Source Serif Pro', serif;
        }
            
    </style>
{% endblock %}
{% block body %}
<section>
    {% if user.is_superuser %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 bg-light">
                    <div id="notfound">
                        <div class="notfound">
                            <div class="notfound-404">
                                <h3>Oops! Page Forbidden</h3>
                                <h1><span>4</span><span>0</span><span>3</span></h1>
                            </div>
                            <h2>we are sorry, you are not autherise person to access this page</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <!-- BANNER START -->
    <div class="container-fluid">
        <div class="row element-animate" style="background:url(/static/images/doctor-banner.png); background-size:100% 100%; background-attachment: fixed;">
            <div class="col-md-12 text-white text-center py-5 trans ">
                <div class="py-5">
                    <h1 class="text-light " >Dashboard</h1>
                    <div class="hr m-auto bg-white "></div>
                </div>
            </div>
        </div>
        <!-- BANNER END -->
        <div class="row p-2 py-3">
            <div class="col-md-12 element-animate lifetago_mini_content" style="font-size: 15px;">
                <span>Home &gt; Profile &gt; Dashboard</span>
            </div>
        </div>
        
        <div class="row bg-light">
            <div class="col-md-3 p-4 element-animate" >
                <div class="row bg-white shadow-sm rounded" style="position: sticky; top:90px;">
                    <div class="col-md-12 py-3 px-0">
                        <div class="text-center"  style="font-family: 'Arvo';color: #00bb6d;">
                            <a href="" class="">
                                {% if data.profile_pic %}
                                    <img src="/media/{{data.profile_pic}}" alt="" width="150" height="150" style="border-radius: 50%; border: 2px solid #00bb6d;">
                                {% else %}
                                    <img src="/static/images/profile_pic.png" alt="" width="150" height="150" style="border-radius: 50%; border: 2px solid #00bb6d;">
                                {% endif %}
                            </a>
                            {% if user.is_staff %}
                                <p class="font-weight-bold">Dr. {{user.first_name}} {{user.last_name}}</p>
                                <small class="text-muted">{{data.degree}}</small>
                            {% else %}
                                <p class="font-weight-bold ">{{user.first_name}} {{user.last_name}}</p>
                            {% endif %}
                        </div>
                        <div>
                            
                            <!-- <hr>
                            <div class="px-3">
                                <a href="" class="dash-link"><i class="fa fa-calendar-check"></i> Appointments</a>
                            </div> -->
                            
                            <!-- <hr>
                            <div class="px-3">
                                <a href="" class="dash-link"><i class="fas fa-hourglass-start"></i> Schedule Timings</a>
                            </div>
                            <hr>
                            <div class="px-3">
                                <a href="" class="dash-link"><i class="fas fa-file-invoice"></i> Invoices</a>
                            </div>
                            -->
                            
                            {% if user.is_staff %}
                                <hr>
                                <div class="px-3">
                                    <a href="{% url 'profile_dashboard' %}" class="dash-link {{dashboard_active}} "><i class="fas fa-columns "></i> Dashboard</a>
                                </div>
                                <hr>
                                <div class="px-3">
                                    <a href="{% url 'profile_mypatients' %}" class="dash-link {{mypatient_active}}"><i class="fas fa-user-injured"></i> My Patients</a>
                                </div>
                                <hr>
                                <div class="px-3 ">
                                    <a href="{% url 'profile_reviews' %}" class="dash-link {{reviews_active}}"><i class="fas fa-star"></i> Reviews</a>
                                </div>
                                <hr>
                                <div class="px-3">
                                    <a href="{% url 'profile_settings' %}" class="dash-link {{settings_active}}"><i class="fas fa-user-cog"></i> Profile Settings</a>
                                </div>
                            {% else %}
                                <hr>
                                <div class="px-3">
                                    <a href="{% url 'patient_dashboard' %}" class="dash-link {{dashboard_active}}"><i class="fas fa-columns"></i> Dashboard</a>
                                </div>
                                <hr>
                                <div class="px-3">
                                    <a href="{% url 'patient_settings' %}" class="dash-link {{settings_active}}"><i class="fas fa-user-cog"></i> Profile Settings</a>
                                </div>
                            {% endif %}
                            <!-- <hr>
                            <div class="px-3">
                                <a href="" class="dash-link"><i class="fas fa-comments"></i> Message</a>
                            </div>  -->
                            <hr>
                            <div class="px-3">
                                <a href="{% url 'send_emails' %}" class="dash-link  {{emails_active}}"><i class="fas fa-envelope"></i> Send Emails</a>
                            </div>
                            <hr>
                            <div class="px-3">
                                <a href="{% url 'change_password' %}" class="dash-link {{change_pass_active}}"><i class="fas fa-lock"></i> Change Password</a>
                            </div>
                            <hr>
                            <div class="px-3">
                                <a href="{% url 'user_sign_out' %}" class="dash-link"><i class="fas fa-sign-out-alt"></i> Sign-out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 p-4 element-animate">
                {% block dashboard %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endif %}  
</section>
    {% block modal %}
    {% endblock %}
{% endblock %}

