{% extends 'base.html' %}
{% load static %}
{% block title %}
  LIFETAGO | Departments
{% endblock %}
{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading Font -->
<link href="https://fonts.googleapis.com/css2?family=Laila&display=swap" rel="stylesheet"> <!-- CONTENT FONT -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet"> <!--  DEPARTMENT NAME font -->
<style>
    .lifetago_mini_content{
        font-family: 'Source Serif Pro', serif;
    }
    .lifetago_dept{
        font-family: 'Poppins', sans-serif;
    }
    .lifetago_dept_data{
    font-family: 'Laila', serif;
  }
</style>
{% endblock %}
{% block body %}
<section>
    
    <!-- BANNER START -->
    <div class="container-fluid">
        {% block department_banner %}
        <div class="row element-animate" style="background:url(/static/images/doctors-group.webp); background-size:100% 100%; background-attachment: fixed;">
            <div class="col-md-12 text-white text-center py-5 trans">
                <div class="py-5">
                    <h1 class="element-animate text-light lifetago_mini_content">Departments</h1>
                    <div class="hr m-auto bg-white element-animate"></div>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- BANNER END -->
        {% block link %}
        <div class="row p-2 py-3 element-animate">
            <div class="col-md-12 lifetago_mini_content"  style="font-size: 15px;">
                <span>Home &gt; Profile &gt; Dashboard</span>
            </div>
        </div>
        {% endblock %}
        <div class="row px-3">
            {% block department %}
            <div class="col-md-10">
                <div class="row element-animate">
                    <div class="col-md-12">
                        <div class="row">
                            {% for depart in departments %}
                            <div class="col-md-3 py-1 px-2">
                                <div class="cards border-0 dp-link">
                                    <img class="card-img-top" src="/media/{{depart.image}}" alt="" height="200" width="">
                                    <div class="pt-2">
                                        <h5 class="">
                                            <span class="link-line"></span>
                                            <a href="{% url 'doctors' %}?id={{depart.id}}" id="{{depart.id}}" class="link lifetago_dept">{{depart.name}}</a>
                                        </h5>
                                        <p class="text-muted lifetago_dept_data">{{depart.description}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <div class="col-md-2 text-white element-animate">
                <div class="row">
                    <div class="col-md-12 bg-dark py-1" >
                        <p class="py-1 lifetago_mini_content" style="font-size: 25px;">Departments</p> 
                        {% for depart in departments%}
                        <p class="lifetago_dept_data" style="font-weight:bolder ;" ><a href="{% url 'doctors' %}?id={{depart.id}}" class="right-link">{{depart.name}}</a></p>
                        <hr class="bg-white">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
