{% extends 'depart.html' %}
{% load static %}

{% block title %}
  LIFETAGO | Doctors
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/doctors.css' %}">

{% endblock %}

{% block department_banner %}
<div class="row element-animate" style="background:url(/static/images/doct.webp); background-size:100% 100%; background-attachment: fixed;">
    <div class="col-md-12 text-white text-center py-5 trans">
        <div class="py-5">
            <h1 class="text-light element-animate ">{{department_name}}</h1>
            <div class="hr m-auto bg-white element-animate"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block link %}
<div class="row p-2 py-3 element-animate">
    <div class="col-md-12">
        <span>Home > Departments > {{department_name}}</span>
    </div>
</div>
{% endblock %}

{% block department %}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <div class="row element-animate">
                {% if len > 0 %}
                    {% for doctor in doctors %}
                        <div class="col-md-3 py-1 px-2">
                            <div class="cards border-0 doc-link">
                                <div class="doc-img-box" style="height: 200px; overflow: hidden;">
                                    <img class="card-img-top doc-img" src="/media/{{doctor.profile_pic}}" alt="" height="200" width="">
                                </div>
                                <div class="py-2 text-center doc-bg">
                                    <h5><a href="{% url 'doctor_profile' %}?id={{doctor.user.id}}" class="text-decoration-none doc-link-inner">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</a></h5>
                                    <p class="doc-text">{{doctor.specialization}}</p>
                                    <div class="line"></div><div class="py-2"><i class="fa fa-rupee-sign doc-text"></i><a href="" class="text-decoration-none doc-link-inner"> {{doctor.fee}}</a></div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <h1 class="text-warning py-5 my-5">Doctors under this department will come soon...</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
