{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> <!-- list heading font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet"> <!-- list font -->
<style>
    .lifetago_footer{
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    ul{
        font-family: 'Poppins', sans-serif;
    }
</style>
{% endblock %}

<footer>
        <div class="container-fluid text-light" style="background: #283E56;;">
            <div class="row element-animate">
                <div class="col-md-3 p-4 text-center ">
                    <h1 class="text-light" style="font-family: 'Lobster', cursive;letter-spacing: 2px;font-weight:400;" >LIFETAGO</h1>
                </div>
                <div class="col-md-3 p-4">
                    <ul type="none">
                        <h5 class="text-light lifetago_footer">Get started</h5>
                        <hr class="bg-white">
                        <li><a class="footer-link" href="{% url 'home' %}">Home</a></li>
                        <li><a class="text-decoration-none footer-link" href="{% url 'sign_up' %}">Sign up</a></li>
                        <li><a class="text-decoration-none footer-link" href="{% url 'departments' %}">Get Appointment</a></li>
                    </ul>
                </div>
                <div class="col-md-3 p-4">
                    <ul type="none">
                        <h5 class="text-light lifetago_footer">Feedback</h5>
                        <hr class="bg-white">
                        <p>Please send us your ideas, bug reports, suggestions! <br> <a class="text-decoration-none footer-link" href="{% url 'contact' %}">Click Here</a></p>
                    </ul>
                </div>
                <div class="col-md-3 p-4 text-center">
                    <a href="https://www.facebook.com/" class="footer-link"><i class="fab fa-facebook-f px-3 font-size"></i></a>
                    <a href="https://twitter.com/" class="footer-link"><i class="fab fa-twitter px-3 font-size"></i></a>
                    <a href="https://www.instagram.com/" class="footer-link"><i class="fab fa-instagram px-3 font-size"></i></a>
                    <div class="form-group p-4">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
