{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
<style>
    #global-nav {
      position: fixed;
      top: 0;
      width: 100%;
    }
    /* .logo{
      display: inline-block;
      transition: all .5s;
    } */
    /* .scrolled-nav .logo  {
      font-size: 16px;
    } */
    /* .nav-list {
      list-style: none;
    } */

    .nav-list li {
      list-style: none;
      display: inline-block;
      padding-left: 5px;
      font-family: 'Poppins', sans-serif;
    }

  </style>
{% endblock %}
  
    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="global-nav">
          <div class="container-fluid" >
            <a  class="logo " href="{% url 'home' %}" style="font-family: 'Lobster', cursive;font-size: 30px;letter-spacing:2px;font-weight:500; padding-right: 70px;">LIFETAGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse pull-right" id="navbarsExample05">
              <ul class="navbar-nav nav-list mr-auto">
                {% if user.is_authenticated %}
                  {% if user.is_staff %}
                    <li class="nav-item">
                      <a class="nav-link {{active_dash}}" href="{% url 'profile_dashboard' %}">Dashboard</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link {{active_dash}}" href="{% url 'patient_dashboard' %}">Dashboard</a>
                    </li>
                  {% endif %}
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link {{active_home}}" href="{% url 'home' %}">Home</a>
                  </li>
                {% endif %}

                <li class="nav-item">
                  <a class="nav-link {{active_depart}}" href="{% url 'departments' %}">Departments</a>
                </li>
                

                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="#">Institute</a>
                    <a class="dropdown-item" href="{% url 'departments' %}">Departments</a>
                    <a class="dropdown-item" href="">Services</a>
                  </div>
  
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="">Find Doctors</a>
                    <a class="dropdown-item" href="#">Practitioner</a>
                  </div>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link  {{active_contact}}" href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{active_about}}" href="{% url 'about' %}">About Us</a>
                </li>
              </ul>
              <ul class="navbar-nav nav-list ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="" data-toggle="modal" data-target="#search"><i class="fa fa-search"></i> </a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_sign_out' %}">Sign-out</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link {{active_sigin}}" href="{% url 'sign_in' %}" >Sign-in</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
