{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet">  <!-- Button FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Laila&display=swap" rel="stylesheet"> <!-- CONTENT FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet"> <!-- Navbar font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading Font -->
    <style>
      .lifetago_button{
        font-family: 'Crete Round', serif;
      }
      p{
        font-family: 'Laila', serif;
      }
      .lifetago_list{
            font-family: 'Poppins', sans-serif;
      }
      .lifetago_mini_content{
      font-family: 'Source Serif Pro', serif;
      }
    </style>
{% endblock %}

{% block body %}
<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('/static/images/home/slider-2.jpg');">
    
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-7 col-sm-12 element-animate">
          <h1 class="lifetago_mini_content">We Care For You</h1>
          <p>We have a doctor on call service to deal with medical emergencies and you will receive treatment immediately.</p>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="slider-item" style="background-image: url('/static/images/home/slider-1.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-7 col-sm-12 element-animate">
          <h1 class="lifetago_mini_content">We Provide Health Care Solutions</h1>
          <p>We Care has a wide range of health care options, from health treatments to surgery procedures.</p>
        </div>
      </div>
    </div>
    
  </div>
  
</section>
<!-- END slider -->


<section class="container home-feature">
  <div class="row">
    <div class="col-md-6 p-0 one-col element-animate">
      <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
        <span class="icon flaticon-hospital-bed"></span>
        <h2 class="lifetago_mini_content" style="font-style: italic;font-size: 22px;">Patient Services</h2>
        <p>Doctors can offer all services or limit them to just one option, and can indicate the cost of the  service which requires payment or leaves patients free of charge.</p>
      </div>
      <!-- <a href="#" class="btn-more">Read More</a> -->
    </div>
    <div class="col-md-6 p-0 two-col element-animate">
      <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
        <span class="icon flaticon-first-aid-kit"></span>
        <h2 class="lifetago_mini_content" style="font-style: italic;font-size: 22px;">Medical Services</h2>
        <p>The disease history, test results, prescribed treatment can be accessed by doctors without much delay in order to make an accurate diagnosis and monitor the patient’s health.</p>
      </div>
      <!-- <a href="#" class="btn-more">Read More</a> -->
    </div>
  </div>
</section>
<!-- END section -->

<section class="section stretch-section">
  <div class="container">
    <div class="row justify-content-center element-animate">
      <div class="col-md-8 text-center mb-5">
        <h2 class="text-uppercase heading border-bottom mb-4 lifetago_mini_content">Why Choose Us</h2>
        <p class="mb-0 lead">There are many reasons to choose LifeTago Healthcare as your private healthcare provider of choice.</p>
      </div>
    </div>
    <div class="row align-items-center">
      
      <div class="col-md-6 stretch-left-1 element-animate" data-animate-effect="fadeInLeft">
        <a class="video"><img src="/static/images/home/img_1.jpg" alt="" class="img-fluid"></a>
      </div>
      <div class="col-md-6 stretch-left-1-offset pl-md-5 pt-5 pl-0 element-animate" data-animate-effect="fadeInLeft">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="media d-block media-feature text-center">
              <span class="icon flaticon-first-aid-kit"></span>
              <div class="media-body">
                <h3 class="mt-0" style="color:#00bb6d ;">Medical Services</h3>
                <p class="text-muted">
                  Cardiology</br>
                  Dentistry</br>
                  Diagnostics</br>
                  Neurology</br>
                  Ophthalmology
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="media d-block media-feature text-center">
              <span class="icon flaticon-hospital-bed"></span>
              <div class="media-body">
                <h3 class="mt-0 " style="color:#00bb6d ;">Patient Services</h3>
                <p class="text-muted">Doctors can offer all services or limit them to just one option, and can indicate the cost of the  service which requires payment or leaves patients free of charge.</p>
              </div>
            </div>
          </div>
        </div>

      
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="section custom-tabs">
  <div class="container">
    <div class="row">

      <div class="col-md-4 border-right element-animate">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true"><span>01</span> Medical Services</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>02</span> Patient Services</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span>03</span> Expert Doctors</a>
        </div>
      </div>          

      <div class="col-md-1"></div>
      <div class="col-md-7 element-animate">
        
        <div class="tab-content" id="v-pills-tabContent">
         
          <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <span class="icon flaticon-first-aid-kit"></span>
            <h2 class="text-success">Medical Services</h2>
            <p class="lead">The hospital database includes all the necessary patient data. The disease history, test results, prescribed treatment can be accessed by doctors without much delay in order to make an accurate diagnosis and monitor the patient’s health.</p>
            <p>
              <div>
                <div class="row lifetago_list">
                  <div class="col-md-6 ">
                    Cardiology</br>
                    Dentistry</br>
                    Diagnostics</br>
                    Neurology</br>
                  </div>
                  <div class="col-md-6">
                    Traumatology</br>
                    Pulmonary</br>
                    Pediatrics</br>
                    Ophthalmology
                  </div>
                </div>
              </div>
            </p>
            <p><a href="{% url 'departments' %}" class="btn btn-success lifetago_button">Go to Departments</a></p>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <span class="icon flaticon-hospital-bed"></span>
            <h2 class="text-success">Patient Services</h2>
            <p class="lead">Patient-centered care is the practice of caring for patients (and their families) in ways that are meaningful and valuable to the individual patient.  It includes listening to, informing and involving patients in their care. </p>
            <p>
              1. Respect for patients’ values, preferences and expressed needs</br>
              2. Coordination and integration of care</br>
              3. Physical comfort</br>
              4. Emotional support and alleviation of fear and anxiety</br>
              5. Involvement of family and friends</br>
              6. Continuity and transition</br>
              7. Access to care
            </p>
            <p><a href="{% url 'patient_dashboard' %}" class="btn btn-success lifetago_button">Dashboard</a></p>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <span class="icon flaticon-doctor"></span>
            <h2 class="text-success">Expert Doctors</h2>
            <p class="lead"> We have the best doctors in LifeTago for Cardiology, Dentistry, Diagnostics, Neurology, Ophthalmology.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 element-animate">
      <div class="col-md-8 text-center mb-5">
        <h2 class="text-uppercase heading border-bottom mb-4 lifetago_mini_content">Doctors</h2>
        <p class="mb-0 lead">You may appoint them simply doctors. But most doctors have extra expertise in one type of medicine or another. In fact, there are several hundred medical specialties and sub specialties.</p>
      </div>
    </div>
    <div class="row element-animate">
      <div class="major-caousel js-carousel-1 owl-carousel">
        {% for doctor in doctors %}
          {% if doctor.specialization %}
            <a href="{% url 'doctor_profile' %}?id={{doctor.user.id}}">
              <div>
                <div class="media d-block media-custom text-center">
                  {% if doctor.profile_pic %}
                    <img src="/media/{{doctor.profile_pic}}" height="220">
                  {% else %}
                    <img src="/static/images/profile_pic.png" height="220">
                  {% endif %}
                  <div class="media-body">
                    <h3 class="mt-0 text-black lifetago_mini_content">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</h3>
                    <p>{{doctor.specialization}}</p>
                  </div>
                </div>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <!-- END slider -->
    </div>
  </div>
</section>
<!-- END section -->

<section class="cover_1" style="background-image: url(static/images/home/bg_1.jpg);">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-10">
        <h2 class="heading element-animate lifetago_mini_content">Experience Our Advance Facilities</h2>
        <p class="sub-heading element-animate mb-5">The advanced treatment technology used at LifeTago is yet another upliftment in the medical system. The department involves multi-speciality approach of medical and surgical experts.</p>
        <p class="element-animate"><a href="{% url 'departments' %}" class="btn btn-success btn-lg lifetago_button">Get In Touch</a></p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->


<!-- END section -->

<!-- <a href="#" class="cta-link element-animate" data-animate-effect="fadeIn" data-toggle="modal" data-target="#modalAppointment">
  <span class="sub-heading">Ready to Visit?</span>
  <span class="heading text-white">Make an Appointment</span>
</a> -->
<!-- END cta-link -->


<!-- Modal -->
<!-- <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAppointmentLabel">Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label for="appointment_name" class="text-black">Full Name</label>
            <input type="text" class="form-control" id="appointment_name">
          </div>
          <div class="form-group">
            <label for="appointment_email" class="text-black">Email</label>
            <input type="text" class="form-control" id="appointment_email">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment_date" class="text-black">Date</label>
                <input type="text" class="form-control" id="appointment_date">
              </div>    
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="appointment_time" class="text-black">Time</label>
                <input type="text" class="form-control" id="appointment_time">
              </div>
            </div>
          </div>
          

          <div class="form-group">
            <label for="appointment_message" class="text-black">Message</label>
            <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-success">
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div> -->

{% endblock %}
