{% extends "dashboard.html" %}

{% block dashboard %}
{% if status %}
    <div class="alert alert-success text-center ">{{status}}</div>
{% endif %}
<div class="container-fluid bg-light">
    <div class="row ">
        <!-- <div class="col-md-12 d-flex">
            <div class="col-md-4 px-0">
                <div class="card  rounded-0 pl-2">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="" style=""><i class="fas fa-user fa-4x m-3"></i></span>
                            </div>
                            <div class="col-md-9">
                                <h4>Total Patients</h4>
                                <h3>1500</h3>
                                <h6>Till Today</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-0">
                <div class="card rounded-0 pl-2 ">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-3">
                                <span><i class="fas fa-user fa-4x m-3"></i></span>
                            </div>
                            <div class="col-md-9">
                                <h4>Today Patients</h4>
                                <h3>160</h3>
                                <h6>23-march-2020</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-0">
                <div class="card rounded-0 pl-2 ">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-3">
                            <span><i class="fas fa-user fa-4x m-3"></i></span>
                            </div>
                            <div class="col-md-9">
                                <h4>Appointments</h4>
                                <h3>85</h3>
                                <h6>23-march-2020</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->

        
        <div class="col-md-12 shadow"> 
            <h5  style="font-family: 'Arvo', serif;font-size: 40px; color:  #00bb6d;">Your Appointments</h5>
            <div class="table1 pt-3">
                {% if appointments %}
                <table class="table table-light table-hover shadow-sm table-responsive table-borderless ">
                    <thead class="thead-light text-center" style="font-family: 'Arvo';">
                        <th style="color:  #00bb6d;">Doctor Name</th>
                        <th style="color:  #00bb6d;">Date</th>
                        <th style="color:  #00bb6d;">Time</th>
                        <th style="color:  #00bb6d;">Disease</th>
                        <th style="color:  #00bb6d;">Status</th>

                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                            <tr style="font-family: 'Playfair Display', serif;">
                                {% for doctor in doctors %}
                                    {% if doctor.user.id == appointment.doctor.id %}
                                        {% if doctor.profile_pic %}
                                            <td class="text-center"><img class="rounded-circle" src="/media/{{doctor.profile_pic}}" height="50" width="50" alt=""> <br> Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</td>
                                        {% else %}
                                            <td class="text-center"><img class="rounded-circle" src="/static/images/profile_pic.png" height="50" width="50" alt=""><br> Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <td>{{appointment.date}}</td>
                                <td>{{appointment.time}}</td><div> 
                                <td>{{appointment.disease}}</td>
                                {% if appointment.status == "Confirmed" %}
                                    <td class="alert-success">{{appointment.status}}</td>
                                {% elif appointment.status == "Rejected" %}
                                    <td class="alert-danger">{{appointment.status}}</td>
                                {% else %}
                                    <td class="alert-warning" >{{appointment.status}}</td>
                                {% endif %}     
                                     
                                {% if appointment.status == "Confirmed" %}
                                    {% if appointment.id in rev_appoint_ids or status%}
                                        <td class="text-center">    
                                            <!-- Button trigger modal -->
                                            <button disabled type="button" class="btn btn-warning">
                                                Submitted
                                            </button>
                                        </td>
                                    {% else %}
                                    <td class="text-center">    
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal{{appointment.id}}">
                                            Give Review
                                        </button>
                                    </td>
                                    {% endif %}
                                {% elif appointment.status == "Rejected" or appointment.status == "pending" %}
                                    <td class="text-center">    
                                        <!-- Button trigger modal -->
                                        <button disabled type="button" class="btn btn-secondary">
                                            Give Review
                                        </button>
                                    </td>
                                {% elif appointment.status == "Confirmed and Payment Pendding" %}
                                    <td class="text-center">    
                                        <!-- Button trigger modal -->
                                        <a href="{% url 'process_payment' %}?apid={{appointment.id}}" class="btn btn-success">
                                            Proceed to Pay
                                        </a>
                                    </td>
                                {% endif %}
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3 class="text-center text-warning my-5 py-5">
                        You Have Not Booked Any Appointment!!
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block modal %}
{% for appointment in appointments %}
<!-- Modal -->
<div class="modal fade" id="modal{{appointment.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="doctor_id" style="display: none;" value="{{appointment.doctor.id}}">
                    <input type="text" name="appoint_id" style="display: none;" value="{{appointment.id}}">
                    <div class="form-group">
                        <label for="">Subject</label>
                        <input type="text" name="subject" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Comment</label>
                        <textarea name="comment" style="resize: none;" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
