{% extends 'dashboard.html' %}
{% load static %}
{% block dashboard %}

                {% if status %}
                    <div class="alert {{alert}} lifetago_mini_content">{{status}}</div>
                {% endif %}
                <div class="container-fluid bg-light">
                    <div class="row">
                        <!-- <div class="col-md-12 d-flex">
                            <div class="col-md-4 px-0">
                                <div class="card  rounded-0 pl-2">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span class="" style=""><i class="fas fa-user fa-4x m-3"></i></span>
                                            </div>
                                            <div class="col-md-9">
                                                <h4>Total Patients</h4>
                                                <h3>1500</h3>
                                                <h6>Till Today</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 px-0">
                                <div class="card rounded-0 pl-2 ">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <span><i class="fas fa-user fa-4x m-3"></i></span>
                                            </div>
                                            <div class="col-md-9">
                                                <h4>Today Patients</h4>
                                                <h3>160</h3>
                                                <h6>23-march-2020</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 px-0">
                                <div class="card rounded-0 pl-2 ">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-3">
                                            <span><i class="fas fa-user fa-4x m-3"></i></span>
                                            </div>
                                            <div class="col-md-9">
                                                <h4>Appointments</h4>
                                                <h3>85</h3>
                                                <h6>23-march-2020</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  -->
     
                        <h5 class="">Patients Appointments</h5>
                        <div class="col-md-12"> 
                            <div class="mt-2">
                                {% if appointments %}
                                <table class="table table-hover table-borderless table-responsive">
                                    <thead class="thead-light">
                                        <th>Patient Name</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Disease</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        {% for appointment in appointments %}
                                            <tr>
                                                {% for patient in patients %}
                                                    {% if patient.user.id == appointment.patient.id %}
                                                        {% if patient.profile_pic %}
                                                        <td><img class="rounded-circle" src="/media/{{patient.profile_pic}}" height="50" width="50" alt=""> <br> {{patient.user.first_name}} {{patient.user.last_name}}</td>
                                                        {% else %}
                                                            <td><img class="rounded-circle" src="/static/images/profile_pic.png" height="50" width="50" alt=""> <br> {{patient.user.first_name}} {{patient.user.last_name}}</td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <td>{{appointment.date}}</td>
                                                <td>{{appointment.time}}</td>
                                                <td>{{appointment.disease}}</td>
                                                {% if appointment.status == "Confirmed" %}
                                                    <td class="text-success">{{appointment.status}}</td>
                                                {% elif appointment.status == "Rejected" %}
                                                    <td class="text-danger">{{appointment.status}}</td>
                                                {% elif appointment.status == "Confirmed and Payment Pendding" %}
                                                    <td class="text-warning">{{appointment.status}}</td>
                                                {% else %}
                                                    <td class="text-warning">{{appointment.status}}</td>
                                                {% endif %}
                                                <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal{{appointment.id}}"><span><i class="fas fa-eye"></i></span> View</button></td>
                                                {% if appointment.status == "Confirmed" or appointment.status == "Rejected" or appointment.status == "Confirmed and Payment Pendding" %}
                                                    <td><button type="submit" id="confirmed" disabled class="btn btn-outline-success"><span><i class="fas fa-user"></i></span> Accept</button></td>
                                                    <td><button type="subRejectedmit" id="rejected" disabled class="btn btn-outline-danger"><span><i class="fas fa-user"></i></span> Reject</button></td>
                                                {% else %}
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <input type="text" value="{{appointment.id}}" name="apt_id" style="display: none;">
                                                        <input type="text" value="Confirmed and Payment Pendding" name="status" style="display: none;">
                                                        <td><button type="submit" id="confirmed" class="btn btn-outline-success"><span><i class="fas fa-user"></i></span> Accept</button></td>
                                                    </form>
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <input type="text" value="{{appointment.id}}" name="apt_id" style="display: none;">
                                                        <input type="text" value="Rejected" name="status" style="display: none;">
                                                        <td><button type="submit" id="rejected" class="btn btn-outline-danger"><span><i class="fas fa-user"></i></span> Reject</button></td>
                                                    </form>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <h3 class="text-center my-5 py-5 text-warning">
                                        You have not any appointment availabe! 
                                    </h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <script>
                    // $("#confirmed").click(function(){
                    //     confirm("Are you sure to confirm appointment?")
                    // })
                    // $("#rejected").click(function(){
                    //     confirm("Are you sure to reject appointment?")
                    // })
                </script>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    {% for appointment in appointments %}
    <div class="modal fade" id="modal{{appointment.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Patient Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for patient in patients %}
                        {% if patient.user.id == appointment.patient.id %}
                            {% if patient.profile_pic %}
                                <div class="text-center">
                                    <img class="rounded-circle" height="200" width="200" src="/media/{{patient.profile_pic}}" alt="">
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <img class="rounded-circle" height="200" width="200" src="/static/images/profile_pic.png" alt="">
                                </div>
                            {% endif %}
                            <div class="card border-0">
                              <div class="card-body">
                                <h4 class="card-title text-center">{{patient.user.first_name}} {{patient.user.first_name}}</h4>
                                <p class="card-text">{{appointment.disease}}</p>
                                <p class="card-text"><strong>Symtom Detail: </strong>{{appointment.message}}</p>
                                <p class="card-text"><strong>Contact Info: </strong>{{appointment.contact}}</p>
                                
                            </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
    