{% extends 'dashboard.html' %}
{% load static %}


{% block dashboard %}
    <div class="row">
        {% for patient in patients %}
        {% for appointment in appointments %}
        {% if patient.user.id == appointment.patient.id %}
        {% if appointment.status == "Confirmed" %}
                        <div class="col-md-4 mb-4">
                                <a href="" class="" data-toggle="modal" data-target="#modal{{patient.id}}">
                                    <div class="card">
                                        {% if patient.profile_pic %}
                                            <img class="card-img-top" src="/media/{{patinet.profile_pic}}" alt="" height="250">
                                        {% else %}
                                            <img class="card-img-top" src="/static/images/profile_pic.png" alt="" height="250">
                                        {% endif %}
                                        <div class="card-body">
                                            <h4 class="card-title text-center">{{patient.user.first_name}} {{patient.user.last_name}}</h4>
                                            <p class="card-text text-center">{{appointment.disease}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
    </div>

{% endblock %}

{% block modal %}
    {% for patient in patients %}
    <div class="modal fade" id="modal{{patient.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Patient Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="card border-0">
                        {% if patient.profile_pic %}
                            <div class="text-center">
                                <img class="rounded-circle" height="200" width="200" src="/media/{{patient.profile_pic}}" alt="">
                            </div>
                        {% else %}
                            <div class="text-center">
                                <img class="rounded-circle" height="200" width="200" src="/static/images/profile_pic.png" alt="">
                            </div>
                        {% endif %}
                        <div class="card border-0">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{patient.user.first_name}} {{patient.user.first_name}}</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-text"><strong>Contact Info: </strong>{{patient.contact_number}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text"><strong>Gender: </strong>{{patient.gender }}</p>
                                </div>
                            </div>
                            <p class="card-text"><strong>Address: </strong>{{patient.address_one }} {{patient.address_two }}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-text"><strong>City: </strong>{{patient.city }}</p>
                                    <p class="card-text"><strong>Country: </strong>{{patient.country }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text"><strong>State: </strong>{{patient.state }}</p>
                                    <p class="card-text"><strong>Postal Code: </strong>{{patient.postal_code }}</p>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                            
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}