{% extends 'dashboard.html' %}
{% load static %}
{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet">  <!-- Button FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet"> <!-- placeholder IN THIS AS INPUT font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading  IN THIS AS h5 Font -->
<style>
    input,textarea{
        font-family: 'Ubuntu', sans-serif;
    }
    h5{
        font-family: 'Source Serif Pro', serif;
    }
</style>
{% endblock %}
{% block dashboard %}
                {% if status %}
                    <div class="alert {{alert}} text-center">{{status}}</div>
                {% endif %}
                <div class="container-fluid bg-white shadow-sm px-5 py-3 rounded">
                    <div class="row">   
                        <h5 class=" ml-3 mb-3 mt-1">Send Emails</h5>
                        <div class="col-md-12"> 
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="To" name="to" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject" name="subject" required>
                                </div>
                                <div class="form-group">
                                   <textarea name="message" placeholder="Type message here..." id="" rows="5" class="form-control" style="resize: none;" required></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Send Email"  style="font-family: 'Crete Round', serif;" class="btn btn-success">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

{% endblock %}

    