{% extends 'base.html' %}
{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet">  <!-- Button FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet"> <!-- Content Heading Font -->
    <style>
        a{
            font-family: 'Crete Round', serif;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5 mx-auto">
                <div class="card text-center my-5 border-0 shadow rounded-lg">
                    <img class="mx-auto p-3" src="/static/images/cross.png" alt="" height="200" width="200">
                    <br>
                    <h1 class="alert alert-danger" style="font-family: 'Source Serif Pro', serif;">Payment Faild!</h1>
                    <div class="my-3">
                        <a href="{% url 'patient_dashboard' %}" class="btn btn-success">Go to Dashboard</a>
                    </div>
                </div>     
            </div>
        </div>
    </div>
{% endblock %}