{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5 py-5 mx-auto">
                <div class="card text-center my-5 border-0 shadow rounded-lg">
                    <div class="">
                        Click To Continue
                    </div>
                    <div class="card-body">
                        {{form.render}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}